.App {
  text-align: center;
}

.login-container {
  display: flex;
  flex-direction: column;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.login-header {
  background-color: whitesmoke;
  font-family: Open Sans;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  color: #282828;
  border-bottom: 3px solid #1D661D;
  box-shadow: 0 5px 10px #282828;
}

.home-header {
  top: 0;
  position: sticky;
  z-index: 1;
  background-color: whitesmoke;
  font-family: Open Sans;
  font-weight: bold;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  color: #282828;
  border-bottom: 3px solid #1D661D;
  box-shadow: 0 5px 10px #282828;
}

.header-nav {
  display: flex;
}

.header-nav-dropdown {
  display: none;
}

.header-title {
  display: flex;
  align-items: center;
  margin-right: 6rem;
  margin-left: 1rem;
  font-size: 2rem;
}

.header-active {
  border-top: 3px solid #1D661D !important;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #282828;
  margin-bottom: 5rem;
}

.description-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.desc-item {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Open Sans;
  color: #282828;
}

.desc-item-map {
  height: calc(100vw / 4.5);
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./assets/AtTrackr\ map.png);
  box-shadow: 0 10px 15px #282828;
}

.login {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  box-shadow: 0 5px 15px #282828;
  border-radius: 5px;
  width: 30%;
  padding: 5rem;
  text-align: center;
  font-family: Open Sans;
  background-color: whitesmoke;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.login-form-input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.login-form-submit {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.75rem;
  align-items: center;
  width: 50%;
  background-color: #282828;
  color: antiquewhite;
  font-weight: bold;
  border: 1px solid;
  border-radius: 10px;
}

.login-form-submit:hover {
  background-color: #3c3c3c;
  cursor: pointer;
}

.login-form-submit:active {
  background-color: #282828;
}

.login-form-input:focus {
  outline: 1px solid #1D661D;
  box-shadow: 0 0 10px #309b30;
}

.login-image {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.content-aligner {
  display: flex;
  width: 20%;
}

.signup-success {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.signup-success-link {
  font-size: 1.4rem;
  font-weight: bold;
  color: green;
  text-decoration: none;
}

.profile-content {
  display: flex;
  justify-content: center;
  margin: 2rem;
  min-height: 60vh;
}

.profile-picture {
  display: flex;
  justify-content: center;
  width: 20%;
  height: max-content;
  max-height: 40vh;
  padding: 1rem;
}

.profile-picture img {
  object-fit: contain;
  width: 100%;
}

.profile {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  padding: 2.5rem;
  box-shadow: 0 0 15px #282828;
  border-radius: 5px;
  background-color: whitesmoke;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.profile-header-title {
  font-size: 2rem;
}

.profile-header-button {
  display: flex;
  border: 2px solid #1D661D;
  border-radius: 5px;
  padding: 0.5rem;
}

.profile-header-button:hover {
  box-shadow: 0 0 3px 0 inset;
  cursor: pointer;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  font-family: "Comic Sans MS";
}

.profile-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 0.5rem;
}

.info-input {
  font-family: Open Sans;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.info-input-lat,
.info-input-lon {
  font-size: 0.9rem;
  padding: 0.2rem
}

.info-input-about,
.info-input-comments {
  height: 5rem;
  resize: none;
}

.login-links {
  display: flex;
  justify-content: center;
}

.login-link {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 0.8rem;
  text-decoration: none;
  color: gray;
}

.header-button {
  display: flex;
  align-items: center;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #282828;
  border-top: 3px solid whitesmoke;
}

.header-button:hover {
  border-top: 3px solid #1D661D;
  cursor: pointer;
}

.header-button svg {
  margin-right: 0.25rem;
}

.addPlace-content {
  display: flex;
  justify-content: center;
}

.addPlace {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  padding: 2rem;
  box-shadow: 0 0 15px;
  border-radius: 5px;
  background-color: whitesmoke;
}

.addPlace-info {
  display: flex;
  justify-content: space-between;
  font-family: "Comic Sans MS";
  margin-bottom: 1.5rem;
}

.addPlace-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.addPlace-info-coords {
  flex-direction: column;
}

.addPlace-info-coords-inputs {
  display: flex;
}

.map-container {
  display: flex;
  margin: 0.5rem;
}

.addPlace-info-container-lat,
.addPlace-info-container-lon {
  width: auto;
}

.addPlace-info-container-visitedcheck {
  flex-direction: row;
}

.addPlace-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem;
}

.addPlace-header p {
  opacity: 0.5;
}

.addPlace-header-title {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Comic Sans MS";
}

.title-visitedcheck {
  font-size: 1.2rem;
}

.custom-category {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.custom-category svg {
  padding: 0.4rem;
  margin-left: 0.5rem;
  background-color: #1D661D;
  border-radius: 5px;
  color: white;
}

.custom-category svg:hover {
  cursor: pointer;
  background-color: #309b30;
}

.addPlace-submit {
  margin: 0.5rem;
}

.title-links {
  display: flex;
  align-items: center;
}

.title-links p {
  font-style: italic;
  opacity: 0.5;
  margin-left: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  background-color: #dddddd;
  min-width: 160px;
  box-shadow: 0 0 10px #282828;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content label {
  color: #282828;
  padding: 1rem;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content label:hover {
  background-color: rgb(187, 187, 187);
  cursor: pointer;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .title-category-active {
  cursor: pointer;
  background-color: #3e8e41;
}

.title-category,
.title-category-active {
  display: flex;
  align-items: center;
  color: white;
  background-color: #1D661D;
  padding: 0.5rem;
  border: 1px solid #282828;
  border-radius: 5px;
}

.input-dropdown {
  border: 1px solid #282828;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
}

.input-dropdown:focus {
  outline: 1px solid #1D661D;
  box-shadow: 0 0 10px #309b30;
}

.message-success {
  color: green;
}

.message-error {
  color: red;
}

.addPlace-submit button {
  padding: 0.5rem;
  background-color: #1D661D;
  color: white;
  font-size: 1rem;
  border: 1px solid #282828;
  border-radius: 5px;
}

.addPlace-submit button:hover {
  background-color: #309b30;
  cursor: pointer;
}

.addPlace-submit button:focus {
  background-color: #1D661D;
}

.info-input:focus {
  outline: 1px solid #1D661D;
  box-shadow: 0 0 10px #309b30;
}

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-top: 6px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: white;
  border: 2px solid #282828;
  border-radius: 5px;
}

.checkbox-container:hover input~.checkmark {
  box-shadow: 0 0 3px #282828 inset;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
  background-color: #1D661D;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 10.8px;
  top: 6px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.visitdialog-title {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-all;
}

.visitdialog-title-button {
  display: flex;
  align-items: center;
  min-width: max-content;
  border: 1px solid #282828;
  border-radius: 5px;
  background-color: #1D661D;
  color: white;
  font-size: 1rem;
  font-weight: normal;
  padding: 0.5rem;
  margin-left: 0.5rem;
  text-align: center;
}

.visitdialog-title-button svg {
  margin-left: 0.25rem;
}

.visitdialog-title-button:hover {
  background-color: #309b30;
  cursor: pointer;
}

.visitdialog-visited {
  font-size: 1rem;
}

.visitdialog-content {
  display: flex;
  flex-direction: column;
}

.visitdialog-info {
  display: flex;
  justify-content: space-between;
  font-family: "Comic Sans MS";
}

.visitdialog-info-category {
  width: max-content;
}

.visitdialog-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.visitdialog-info-container-visitedcheck {
  flex-direction: row;
}

.visitdialog-info-container img {
  margin: 0.5rem;
  width: 350px;
  max-height: 350px;
  object-fit: contain;
}

.visitlist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.visitlist-container .map-container {
  width: 90%;
  height: calc(100vw / 4);
  box-shadow: 0 5px 10px #282828;
  margin-bottom: 3rem;
}

.visitlist-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  width: 90%;
  padding-bottom: 1rem;
  box-shadow: 0 0 10px #282828;
  border-radius: 5px;
  background-color: whitesmoke;
}

.visitlist-header-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.visitlist-header-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.visitlist-header-content label {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.visitlist-header-content label:hover {
  cursor: pointer;
}

.visitlist-grid {
  font-family: Open Sans;
  width: 90%;
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-auto-rows: 18rem;
  grid-gap: 1rem;
}

.visitlist-grid-item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 5px 15px #282828;
  border-radius: 5px;
  font-size: 1.25rem;
  overflow: hidden;
  background-color: whitesmoke;
}

.grid-item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-item-title-name {
  font-size: 1.75rem;
  font-weight: bold;
  margin-right: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grid-item-visited label {
  display: flex;
  align-items: center;
}

.grid-item-visited span {
  margin-left: 0.3rem;
}

.grid-item-visited svg {
  width: 30px;
  height: 30px;
}

.visited-true svg {
  color: #1D661D;
}

.visited-false svg {
  color: red;
}

.visitlist-grid-item:hover {
  cursor: pointer;
  box-shadow: 0 2.5px 7.5px #282828;
  margin: 0.05rem;
}

.visitlist-deletebutton {
  padding: 0.5rem;
  border: 1px solid #808080;
  border-radius: 5px;
  background-color: #282828;
  color: white;
  font-size: 1rem;
}

.visitlist-deletebutton:hover {
  cursor: pointer;
  background-color: #505050;
}

@media only screen and (min-width: 2000px) {
  .visitlist-grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}

@media only screen and (max-width: 1350px) {
  .content-aligner {
    display: none;
  }

  .profile-picture {
    width: 25%;
  }

  .login-links {
    flex-direction: column;
  }

  .profile-info {
    flex-direction: column;
  }

  .header-button {
    padding: 1.5rem;
  }

  .addPlace {
    width: 60%;
  }

  .visitlist-grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }

  .visitlist-container .map-container {
    height: calc(100vw / 3);
  }

  .desc-item {
    font-size: 2rem;
  }

  .desc-item-map {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 1020px) {
  .profile-content {
    flex-direction: column;
    align-items: center;
  }

  .profile-picture {
    width: 40%;
  }

  .profile {
    width: 80%;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .addPlace {
    width: 75%;
  }

  .login {
    width: 50%;
  }

  .header-button {
    display: none;
  }

  .header-nav {
    margin: 0.5rem;
    display: flex;
    align-items: center;
  }

  .header-nav-dropdown {
    display: flex;
    margin-right: 0.5rem;
  }

  .header-nav-dropdown svg {
    width: 40px;
    height: 40px;
  }

  .header-nav-dropdown:hover {
    cursor: pointer;
  }

  .dropdown-nav {
    display: flex;
    align-items: center;
  }

  .dropdown-aligner {
    position: absolute;
    margin-top: 6rem;
  }

  .dropdown-content-nav {
    background: rgb(232, 232, 232);
    background: linear-gradient(0deg, rgba(232, 232, 232, 0.8967787798713235) 0%, rgba(166, 166, 166, 0.7511205165660014) 100%);
    width: 30vw;
    min-width: max-content;
  }

  .dropdown-content-nav label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .dropdown-content-nav label svg {
    width: 30px;
    height: 30px;
  }

  .dropdown-content-nav span {
    width: 100%;
    color: #282828;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }

  .visitlist-grid-item {
    font-size: 1rem;
  }

  .grid-item-title-name {
    font-size: 1.5rem;
  }

  .desc-item {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 800px) {
  .visitlist-grid {
    grid-template-columns: minmax(0, 1fr);
    grid-auto-rows: 15rem;
  }

  .visitdialog-info-coords {
    flex-direction: column;
  }

  .visitdialog-info-container img {
    width: auto;
  }

  .visitlist-container .map-container {
    height: calc(100vw / 2);
  }

  .desc-item {
    font-size: 1.25rem;
  }

  .desc-item-map {
    height: calc(100vw / 2.2);
    background-image: url(./assets/AtTrackr\ map-cropped.png);
  }
}

@media only screen and (max-width: 550px) {
  .profile {
    margin: 2rem;
  }

  .profile-header-title {
    font-size: 1.5rem;
  }

  .profile-header-button {
    font-size: 1rem;
  }

  .profile-picture {
    width: 60%;
  }

  .addPlace {
    width: 85%;
    padding: 1rem;
  }

  .addPlace-header-title {
    font-size: 1.1rem;
  }

  .addPlace-info-coords-inputs {
    flex-direction: column;
  }

  .visitlist-header-content {
    flex-direction: column;
  }

  .login {
    padding: 2.5rem;
    width: 70%;
  }

  .login-form-submit {
    width: 70%;
  }

  .desc-item {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .home-header .header-title {
    margin-right: 0;
  }

  .login-header .header-title {
    margin-right: 4rem;
  }

  .visitdialog-title {
    font-size: 1.5rem;
  }

  .visitlist-container .map-container {
    height: 100vw;
  }
}